# Site Configuration
NUXT_PUBLIC_SITE_URL=https://yudev.my.id
NUXT_PUBLIC_SITE_NAME=Yudev

# Image Optimization
NUXT_IMAGE_PROVIDER=ipx
NUXT_IMAGE_OPTIMIZE=true

# Analytics (optional)
NUXT_PUBLIC_GA_ID=

# API Configuration (optional)
NUXT_PUBLIC_API_BASE=https://api.yudev.my.id
